body {
  font-family: "Lato";
  background: #f7f7f7;
  color: #3E3163;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3E3163;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f7f7f7;
  display: block;
}

.logoAlign{
  position: fixed;
  bottom: 30px;
  left: 33px;
}

.logoSize{
  width: 80px;
  height: 80px;
}

.chatBoxAlign{
  margin-left: 20%;
  margin-right: 20%;
}

.chatBox{
  padding-top: 20px;
  height: 650px;
  overflow-y: auto; /* Add a scrollbar if the content overflows vertically */
  /*padding: 20px; Add padding as needed */
}

#chatHistory{
  font-size: 22px;
  line-height: 30px;
}

.chatFormAlign{
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

#chatForm{
  display: flex;
  flex-direction: row;
}

#userInput{
  width: 800px;
  padding: 14px;
  border-radius: 15px;
  border-color: #E66A7C;
  border-width: 3px;
  color: #3E3163;
  font-family: "Lato";
  font-size: 20px;
}

.sendButton{
  border: none;
  font-family: "Josefin Sans", sans-serif;
  background: #f7f7f7;
}

.arrow{
  width: 30px;
  height: 30px;
}

.buttonTextAlign{
  text-align: center;
}

.buttonsAlign{
  display: flex;
  justify-content: center;
}

.buttonsSize{
  width: 60px;
  height: 60px;
}