body {
  font-family: "Josefin Sans", sans-serif;
  background: #EBC9FF;
  color: #3C096C;
  text-align: center;
  gap: 20em;
}

.title {
  text-align: center;
  color: #3C096C;
  font-size: 125px;
  padding: 30px;
  margin-bottom: 0;
  font-family: "Josefin Sans", serif;
}

.container{
  display: flex;
  
  justify-content: center;
  gap: 2em;
}

.info{
  font-family: "Josefin Sans", sans-serif;
  color: #EBC9FF;
  text-align: center;
  gap: 20em;
  font-size: 25px;
}
.shape{
  text-align:center;
  background-color:#3C096C;
  box-shadow: 5px 5px 25px #3C096C;
  width:300px;
  height:400px;
  line-height:60px;
  color: #EBC9FF;
  padding: 10px 30px;
  margin-left:30px;
  border-radius: 10px;
}

.shape1{
  text-align:center;
  background-color:#3C096C;
  box-shadow: 5px 5px 25px #3C096C;
  width:300px;
  height:400px;
  line-height:60px;
  color: #EBC9FF;
  margin:0px auto;
  position:relative;
}

.shape2{
  text-align:center;
  background-color:#3C096C;
  box-shadow: 5px 5px 25px #3C096C;
  width:300px;
  height:400px;
  line-height:60px;
  color: #EBC9FF;
  margin-right:10%;
  position:relative;
  float: left;
}
